In [1]:
import pandas as pd
import glob
import os
from sqlalchemy import create_engine
from config import login, password

# Extract

In [2]:
path = r'mtv_data'
all_files = glob.glob(os.path.join(path, "*.csv"))
df_from_each_file = (pd.read_csv(f) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

# Transform

In [3]:
df.count()

name        8336
facebook    3222
twitter     3030
website     2477
genre       5118
mtv         8344
dtype: int64

In [4]:
# drop duplicate artists
df = df.drop_duplicates('name', keep = 'first', inplace=False)

# drop social media links
df = df.drop(['facebook','twitter'], axis = 1)

# rearranging dataset
df = df[['name','genre','website','mtv']]

# renaming mtv column to bio_link
df = df.rename(columns={'mtv':'bio_link'})

df.head()

,name,genre,website,bio_link
0,Curren$y,Hip-Hop,NaN,http://www.mtv.com/artists/curreny/biography
1,Daniel Landa,NaN,NaN,http://www.mtv.com/artists/daniel-landa-00/bio...
2,Daniel Merriweather,R&B/Soul,http://www.danielmerriweather.com/,http://www.mtv.com/artists/daniel-merriweather...
3,Daniel O'Donnell,Irish,NaN,http://www.cmt.com/artists/daniel-odonnell/bio...
4,D-Shot,Hip-Hop,NaN,http://www.mtv.com/artists/d-shot/biography

In [5]:
df.count()

name        8309
genre       5101
website     2470
bio_link    8310
dtype: int64

# Load

In [ ]:
rds_connection_string = f"{login}:{password}@localhost:5432/projectETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
df.to_sql(name='mtv_data', con=engine, if_exists='append', index=True)

In [ ]:
# Confirm tables
engine.table_names()