In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Output/concerts.csv"
concert_df = pd.read_csv(csv_file)
concert_df.head()

,concert_name,artists,date,time,city,state,price_min,price_max
0,Drums Along the Waterfront,"['Drums Along the Waterfront', 'Buffalo Bills']",2019-08-04,18:30:00,Orchard Park,NY,29.00,29.00
1,Lady Antebellum,['Lady Antebellum'],2019-08-03,20:00:00,Verona,NY,49.00,49.00
2,Chris Stapleton's All American Road Show,"['Chris Stapleton', 'Margo Price', 'The Marcus...",2019-07-27,19:00:00,Canandaigua,NY,34.75,34.75
3,Queen + Adam Lambert: The Rhapsody Tour,"['Queen + Adam Lambert', 'Queen', 'Adam Lambert']",2019-08-06,20:00:00,New York,NY,60.00,60.00
4,John Mayer,['John Mayer'],2019-07-26,19:30:00,New York,NY,59.00,59.00

In [20]:
concert_df['artists']=concert_df['artists'].str.strip('[]').astype(str)
concert_df['artists']=concert_df['artists'].str.strip("'").astype(str)

In [21]:
concert_df.head()

,concert_name,artists,date,time,city,state,price_min,price_max
0,Drums Along the Waterfront,"Drums Along the Waterfront', 'Buffalo Bills",2019-08-04,18:30:00,Orchard Park,NY,29.00,29.00
1,Lady Antebellum,Lady Antebellum,2019-08-03,20:00:00,Verona,NY,49.00,49.00
2,Chris Stapleton's All American Road Show,"Chris Stapleton', 'Margo Price', 'The Marcus K...",2019-07-27,19:00:00,Canandaigua,NY,34.75,34.75
3,Queen + Adam Lambert: The Rhapsody Tour,"Queen + Adam Lambert', 'Queen', 'Adam Lambert",2019-08-06,20:00:00,New York,NY,60.00,60.00
4,John Mayer,John Mayer,2019-07-26,19:30:00,New York,NY,59.00,59.00

In [22]:
rds_connection_string = "postgres:skim0829@localhost:5432/projectETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [23]:
concert_df.to_sql(name='ticketmaster', con=engine, if_exists='append', index=True)